.product-price-container {
    display: flex;
    margin-top: 5px;
}

.cifrao {
    font-size: 18px;
    color: #9E9E9E;

}

.price-color {
    font-size: 32px;
    color: #407BFF;
    margin-left: 5px;
}